<div class="component-top">
    <app-main-title title="Zaloguj/Zarejestruj"></app-main-title>
    <app-inner-nav>
      <li class="inner-nav__item">
        <a routerLink="/dashboard" class="inner-nav__link">Pulpit użytkownika</a>
      </li>
      <li class="inner-nav__item">
        <a routerLink="/account/login" class="inner-nav__link">Zaloguj</a>
      </li>
      <li class="inner-nav__item">
        <a routerLink="/account/register" class="inner-nav__link">Zarejestruj</a>
      </li>
    </app-inner-nav>
</div>
<div class="component-content">
  <router-outlet></router-outlet>
</div>
