<div class="home-header">
  <app-logo type="large"></app-logo>
  <p class="subtitle">Rozwiązuj i twórz własne quizy!</p>
</div>
<div class="component-content">
  <p class="paragraph">Aplikacja Full-Stack z quizami, wynikami i statystykami. Pozwala na rozwiązywanie testów wiedzy w określonym czasie. Po zakończeniu testu sprawdzany jest wynik, a także wyświetlane są statystyki dotyczące wyników innych osób które rozwiązały wybrany test. W plikach cookies przechowywane są informacje o tym, które testy zostały już rozwiązane i jeśli dany test był rozwiązany to zablokowana jest możliwość ponownego wykonania testu. Aplikacja posiada zarówno warstwę Front-end jak i Back-end, a także bazę danych w której przechowywane są testy oraz wyniki uczestników.</p>
  <ul class="list">
    <li class="list__item">Rozwiąż przykładowe quizy</li>
    <li class="list__item">Dodaj noqy quiz lub ankiete jako anonimowy użytkownik</li>
    <li class="list__item">Zarejestruj się i dodawaj prywatne quizy</li>
    <li class="list__item">Zarejestruj się i zarządzaj swoimi quizami</li>
  </ul>
</div>
