<app-main-title title="Twoje quizy" type="special"></app-main-title>
<div class="user-quizzes-list" *ngFor="let quiz of quizzesList">
  <div class="user-quizzes-list__boxes">
    <div class="user-quizzes-list__box">
      <p class="user-quizzes-list__quiz-info">{{ quiz.payload.doc.data().title }}</p>
    </div>
    <div class="user-quizzes-list__box">
      <a [routerLink]="['/quizzes/quiz', quiz.payload.doc.id]" [queryParams]="{uid: userUid, doc: quiz.payload.doc.id}" class="user-quizzes-list__button">Wyświetl quiz</a>
    </div>
    <div class="user-quizzes-list__box">
      <a [routerLink]="['/dashboard/edit', quiz.payload.doc.id]" class="user-quizzes-list__button">Edytuj</a>
    </div>
    <div class="user-quizzes-list__box">
      <a [routerLink]="['/dashboard/quiz/stats', quiz.payload.doc.id]" class="user-quizzes-list__button">Statystyki</a>
    </div>
    <div class="user-quizzes-list__box">
      <a (click)="removeQuiz(quiz.payload.doc.id)" class="user-quizzes-list__button">Usuń quiz</a>
    </div>
  </div>
</div>
